<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="{{ index . "APP_URL" }}/assets/css/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Antrianmu With Golang</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="https://via.placeholder.com/200x70?text=Antrianmu" height="70"></a>
            <!--
            <ul>
                <li>Menu Item 1</li>
                <li><a href="#">Menu Item 2</a></li>
                <li><a href="#">Dropdown Menu Item</a>
                    <ul>
                        <li><a href="#">Sublink with a long name</a></li>
                        <li><a href="#">Short sublink</a></li>
                    </ul>
                </li>
            </ul>
            -->
        </nav>
        <h1>Buat <mark>Antrianmu</mark> yang baru dalam 1 menit!</h1>
        <p>Gak pake install! gak pake beli hardware!</p>
        <p>
          <a href="#event_form"><b>Buat sekarang &rarr;</b></a>
        </p>
    </header>
    <main>
        <hr>
        <section>
            <form action="/event" method="post" id="event_form">
                <header>
                    <h2>Buat Antrian batu</h2>
                </header>
                <label for="input1">Judul:</label>
                <input type="text" id="input1" name="title" size="20" placeholder="judul antrian">
                <label for="textarea1">Deskripsi:</label>
                <textarea cols="40" rows="5" name="description"id="textarea1"></textarea>
                <!--
                <label for="select1">Select label:</label>
                <select id="select1">
                    <option value="option1">option1</option>
                    <option value="option2">option2</option>
                </select>
                -->
                <button type="submit">Buat sekarang</button>
            </form>
        </section>
    </main>
    <footer>
        <hr>
        <p>
        <small>&copy; 2023 <a href="https://twitter.com/azophy">Abdurrahman Shofy Adianto</a></small>
        </p>
    </footer>
</body>

</html>
